<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/episopass.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css" type="text/css">
    <script language="JavaScript">
       var exports = {};
    </script>
    <script language="JavaScript" src="javascripts/jquery.js"></script>
    <script language="JavaScript" src="javascripts/md5.js"></script>
    <script language="JavaScript" src="javascripts/crypt.js"></script>
    <script language="JavaScript" src="javascripts/data.js"></script>
    <!-- <script language="JavaScript" src="javascripts/app.js"></script> -->
    <script language="JavaScript" src="javascripts/episodas.js"></script>
    <script language="JavaScript" src="javascripts/jquery-ui.js"></script>
    <script language="JavaScript">
    var uselocalfile = false;
    $(function(){
        json = '<%= @json %>';
	data = JSON.parse(json);
        name = '<%= @name %>';
        init();

    });
    </script>
    <title>EpisoPass - <%= @name %></title>
  </head>
  <body>
  </body>
</html>

