<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/episopass.css" type="text/css">
    <script language="JavaScript" src='/javascripts/jquery.js'></script>
<style type="text/css">
<!--

-->
</style>

    <title><%= @name %></title>
  </head>
  <body>
  <h1>EpisoPass - <%= @name %></h1>

  <table>
    <tr><td>Seed: <input type="text" value="<%= @seed %>" width=100></td></tr>
    <tr><td>Pass: <input type="text" id="pass" width=100></td></tr>
  </table>
  <p>

  <div id="main">

<script>
var data = JSON.parse('<%= @json %>');
var qas = data['qas'];
var seed = data['seed'];

var answer = [];

for(i=0;i<qas.length;i++){
  answer[i] = 0;
}

for(i=0;i<qas.length;i++){
  var question = qas[i]['question'];
  var answers = qas[i]['answers'];

  var div = $("<div>");
  div.css('background-color','#cee');
  div.css('padding','2');
  div.css('width','100%');

  var qdiv = $('<div>');
  qdiv.attr('width','100%');
  qdiv.css('width','100%');
  qdiv.css('border','none');
  qdiv.css('border-width','0');
  qdiv.css('padding','0');
  qdiv.css('margin',0);

  var qinput = $('<input>');
  qinput.attr('type','text');
  qinput.attr('autocomplete','off');
  qinput.css('width','100%');

  qinput.attr('id','imageurl' + String(i));
  qinput.val(question);
  qinput.css('background-color','white');
  qinput.css('font-size','10pt');
  qinput.css('font-family','sans-serif');
  qinput.css('border','solid');
  qinput.css('border-width','1px');
  qinput.css('padding','2');
  qinput.css('margin','0 0 2 2');
  qinput.css('vertical-aign','middle');

  qdiv.append(qinput);
  div.append(qdiv);

  var img = $("<img>");
  img.attr('id',"image" + String(i));
  img.css('float','left');
  img.css('height','100');
  img.css('padding','2');

  img.attr('src',"http://farm1.static.flickr.com/54/121077554_eb0138d019.jpg");
  //http://gyazo.com/91046da67ab2e43cc4e6456e93c09cd1.png
  div.append(img);

  var divans = $("<div>");
  divans.attr('id','ansdiv' + String(i));
  divans.css('float','left');
  divans.css('padding','0');
  for(j=0;j<answers.length;j++){
    var adiv = $('<div>');
    adiv.css('border','none');
    adiv.css('borderWidth','0');
    adiv.css('padding','0');
    adiv.css('margin',0);
    adiv.attr('id','adiv'+i+'_'+j);
    var input = $('<input>');
    input.attr('type','text');
    input.attr('autocomplete','off');
    input.attr('size','80');
    input.attr('id','input'+i+'_'+j);
    input.val(answers[j]);
    input.css('border','solid');
    input.css('border-width','1px');
    input.css('padding','1');
    input.css('margin','0 0 2 2');
    input.css('vertical-aign','middle');
    input.css('background-color','#ffffff');
    input.css('font-size','9pt');
    input.css('font-family','sans-serif');
    input.on('click',function(){
      var id = $(this).attr('id');
      var m = id.match(/input(\d+)_(\d+)/);
      var q = Number(m[1]);
      var a = Number(m[2]);
      for(var i=0;i<answers.length;i++){
        var e = $('#input'+String(q)+'_'+String(i));
        if(i == a){
          e.css('background-color','#ccf');
        }
        else {
          e.css('background-color','#fff');
        }
      }
    });
    input.on('blur',function(){ // フォーカスがはずれたとき
      // $(this).css('background','#fff');
    });
    input.on('keyup',function(){
      var id = $(this).attr('id');
      var m = id.match(/input(\d+)_(\d+)/);
      var q = Number(m[1]);
      var a = Number(m[2]);
      answers = qas[q]['answers'];
      answers[a] = $(this).val();
      alert(qas[q]['answers']);

      //$('#pass').val($(this).val());
    });

    adiv.append(input);

    divans.append(adiv);
  }
  div.append(divans);

  var br = $('<br>');
  br.attr('clear','all');
  div.append(br);

  $("#main").append(div);
}

//e.text('aaaaa');
//$("#main").append(e);
</script>

  </body>
</html>
